<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/quest.css">
</head>
<body>
    <div class="card">
        <img class="main-image" th:src="${image}" alt="Картинка">

        <h1 th:text="${title}">Вопрос</h1>
        <p th:text="${text}">Текст вопроса</p>

        <div class="buttons">
            <a class="btn yes" th:href="@${nextUrl}" th:text="${yesText}">Да</a>
            <a class="btn no" th:href="${#}" th:text="${noText}">Нет</a>
        </div>
    </div>
</body>
</html>